body{
    background-image: url(piano.jpg);
}
.keys{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 100px 0 100px;
}
.key{
    border: 4px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.07s;
    width: 100px;
    height: 400px;
    text-align: center;
    color: #000;
    background: #fff;
    text-shadow: 0 0 5px black;
    
}
.playing{
    box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -moz-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -ms-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  transform: scale(0.9);
  
}
}

kbd{
    display: block;
    font-size: 40px;
}
.sound{
    color: #ffc600;
}